<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UW RSO Directory</title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="/static/dist/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
  <body>
    <div id="root"></div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
